@import '../utils.scss';

li.catsListItem {
    height: 40px;
    display: flex;
    padding: 6px;
    flex-flow: row nowrap;
    align-content: space-between;
    color: $themeColor1;

    &:hover {
        background-color: $themeColor2;
    }

    .catName {
        flex: 1 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $themeColor4;
    }

    .catNameEdit {
        width: calc(100% - 78px);
        vertical-align: text-bottom;
        color: $themeColor1;
    }

    .editButton,
    .applyEdit {
        padding: 0;
        margin-left: 6px;
        border: none;
        background: none;
        color: $themeColor5;
        font-size: 1.4em;
        cursor: pointer;

        &:hover {
            color: $themeColor1;
        }
    }

    .deleteButton,
    .cancelEdit {
        margin-left: 6px;
        padding: 0;
        border: none;
        background: none;
        color: $themeColor5;
        font-size: 1.4em;
        cursor: pointer;

        &:hover {
            color: $themeColor3;
        }
    }

    & + & {
        border-top: 1px solid $themeColor2;
    }
}
