@import '../utils.scss';

.inputBox {
    margin-bottom: 20px;
    padding: 10px;
    border: solid 1px $themeColor5;
    border-radius: 4px;
}

.inputBox form {
    display: grid;
    grid-template-rows: 30px 40px;
    grid-template-columns: 120px auto 40px;
    grid-template-areas:
        'option1 option2 option2'
        'inText inText subButton';
    grid-gap: 10px;
    align-items: stretch;
    justify-items: stretch;

    @include smScreen {
        grid-template-rows: 30px 40px 40px;
        grid-template-columns: auto auto;
        grid-template-areas:
            'option1 option2'
            'inText inText'
            'subButton subButton';
    }

    .todoInputText {
        grid-area: inText;
        padding: 0 10px;
        border-radius: 6px;
        border: solid 1px $themeColor1;
        background-color: $themeColor6;
        color: $themeColor1;
        font-size: 1.4em;

        @include smScreen {
            font-size: 1.2em;
        }
    }

    .todoInputButton {
        width: 40px;
        grid-area: subButton;
        background-color: $themeColor3;
        padding: 0;
        border-radius: 6px;
        border: none;
        color: $themeColor2;
        font-size: 2em;
        line-height: 0;
        transition: transform 100ms;

        &:hover {
            transform: translateY(2px);
            cursor: pointer;
        }

        @include smScreen {
            justify-self: end;
        }
    }

    .inputOptionPrio {
        grid-area: option2;
        align-self: center;
        justify-self: start;
    }

    .inputOptionCat {
        grid-area: option1;

        select {
            width: 100%;
            height: 100%;
            padding: 3px 8px;
            border-radius: 4px;
            border: 1px solid $themeColor5;
            color: $themeColor1;
        }
    }
}
