@import '../utils.scss';

.todoListItem {
    width: 100%;
    min-height: 32px;
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;

    &:hover {
        background-color: $themeColor2;
    }

    .checkBox {
        padding: 0;
        margin-right: 6px;
        background: none;
        border: none;
        color: $themeColor5;
        font-size: 1.4em;

        &:hover {
            color: $themeColor1;
        }
    }

    .catLabel {
        min-width: 60px;
        max-width: 120px;
        padding: 4px 10px;
        margin: auto 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 4px;
        background-color: $themeColor2;
        color: $themeColor1;
        text-align: center;

        @include smScreen {
            padding: 4px 4px;
        }
    }

    .todoText {
        flex: 1;
        color: $themeColor4;
        word-break: break-all;
    }

    .todoEditText {
        width: calc(100% - 78px);
        color: $themeColor1;
    }

    .editButton,
    .applyEdit {
        padding: 0;
        margin-left: 6px;
        border: none;
        background: none;
        color: $themeColor5;
        font-size: 1.4em;

        &:hover {
            color: $themeColor1;
        }
    }

    .deleteButton,
    .cancelEdit {
        margin-left: 6px;
        padding: 0;
        border: none;
        background: none;
        color: $themeColor5;
        font-size: 1.4em;

        &:hover {
            color: $themeColor3;
        }
    }
}

.todoChecked_true .todoText {
    text-decoration: line-through;
    color: $themeColor5;
}

.todoListPriority1 .checkBox {
    color: $themeColor3;
}

.todoListPriority2 .checkBox {
    color: $themeColor1;
}

.todoListPriority3 .checkBox {
    color: $themeColor5;
}
