@import '../utils.scss';

.todoListItem {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;

    &:hover{
        background-color: $themeColor2;
    }

    .checkBox {
        padding: 0;
        margin-right: 6px;
        background: none;
        border: none;
        color: $themeColor5;
        font-size: 1.4em;

        &:hover {
            color: $themeColor1;
        }
    }

    .catLabel {
        min-width: 60px;
        max-width: 120px;
        padding: 4px 10px;
        margin-right: 6px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 4px;
        background-color: $themeColor2;
        color: $themeColor1;
        text-align: center;

        @include smScreen {
            padding: 4px 4px;
        }
    }

    .todoText {
        flex: 1 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $themeColor4;
    }

    .editButton {
        padding: 0;
        margin-left: 6px;
        border: none;
        background: none;
        color: $themeColor5;
        font-size: 1.4em;

        &:hover {
            color: $themeColor1;
        }
    }

    .deleteButton {
        margin-left: 6px;
        padding: 0;
        border: none;
        background: none;
        color: $themeColor5;
        font-size: 1.4em;

        &:hover {
            color: $themeColor3;
        }
    }

}

.todoChecked_true .todoText {
    text-decoration: line-through;
}
