@import './utils.scss';

body {
    font-size: 62.5%;
}

.App {
    width: 100%;
    max-width: 900px;
    display: grid;
    margin: 0 auto;
    color: $themeColor4;

    @include lgScreen {
        max-width: 1000px;
    }

    > * {
        width: 100%;
        padding: 10px 16px;
        margin: 0 auto;
    }

    .App-header {
        background: $themeColor1;
        text-align: left;
        font-size: 2em;
        font-weight: 600;
        color: $themeColor6;
    }

    .App-main {
        background: $themeColor2;
        text-align: center;
        font-size: 1.4em;
        padding: 24px;
        max-width: 100vw;
    }

    .App-footer {
        text-align: right;
        font-size: 1.2em;
        color: $themeColor5;
    }
}
